<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30230" type="lsep"/>
		<setting label="30110" type="select" id="language" lvalues="30111|30112" default="0" option="int"/>
		<setting type="sep"/>
		<setting label="30231" type="lsep"/>
		<setting label="30113" type="bool" id="useInputstream" default="false"/>
		<setting label="30114" type="enum" id="prefer_stream" values="m3u8|mp4" default="1" enable="eq(-1,false)"/>
		<setting type="sep"/>
		<setting label="30232" type="lsep"/>
		<setting label="30115" type="slider" id="entry_limitation" range="10,5,50" default="40" option="int"/>
		<setting type="sep"/>
		<setting label="30233" type="lsep"/>
		<setting label="30116" type="bool" id="useThumbAsFanart" default="true"/>
	</category>
	<category label="30001">
		<setting label="30234" type="lsep"/>
		<setting label="30117" type="bool" id="show_settings" default="true"/>
		<setting type="sep"/>
		<setting label="30235" type="lsep"/>
		<setting label="30118" type="bool" id="enableDebug" default="false"/>
	</category>
</settings>
