<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="32000">
    <setting label="32033" id="min_size" type="slider" option="float" range="0,0.25,100" default="0" />
    <setting label="32034" id="max_size" type="slider" option="float" range="1,1,200" default="100" />
    <setting label="32040" id="max_results" type="slider" default="10" option="int" range="1,1,20" />
    <setting label="32124" id="auto_timeout" type="bool" default="true" />
      <setting label="32070" id="timeout" type="slider" default="9" option="int" range="3,1,20" visible="eq(-1,false)" />
      <setting label="32071" id="timeout_help" type="text" enable="false" subsetting="true" visible="eq(-2,false)" />
  </category>

  <!-- Providers -->
  <category label="32012">
    <setting label="[B]RARBG[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_rarbg" type="bool" default="true" />
    <setting label="[B]1337x[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_1337x" type="bool" default="true" />
    <setting label="[B]MagnetDL[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_magnetdl" type="bool" default="true" />
    <setting label="[B]TorLock[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_torlock" type="bool" default="true" />
    <setting label="[B]YTS[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_yts" type="bool" default="true" />

    <setting label="[B]Cpasbien[/B]   [COLOR gray][$ADDON[script.quasar.burst 32113]][/COLOR]" id="use_cpasbien" type="bool" default="false" />
    <setting label="[B]ETTV[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_ettv" type="bool" default="false" />
    <setting label="[B]EZTV[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_eztv" type="bool" default="false" />
    <setting label="[B]GloTorrents[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_glotorrents" type="bool" default="false" />
    <setting label="[B]idope[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_idope" type="bool" default="false" />
    <setting label="[B]Il Corsaro Blu[/B]   [COLOR gray][$ADDON[script.quasar.burst 32112]][/COLOR]" id="use_ilcorsaroblu" type="bool" default="false" />
    <setting label="[B]Il Corsaro Nero[/B]   [COLOR gray][$ADDON[script.quasar.burst 32112]][/COLOR]" id="use_ilcorsaronero" type="bool" default="false" />
    <setting label="[B]iTorrent[/B]   [COLOR gray][$ADDON[script.quasar.burst 32118]][/COLOR]" id="use_itorrent" type="bool" default="false" />
    <setting label="[B]KickAss[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_kickass" type="bool" default="false" />
    <setting label="[B]LimeTorrents[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_limetorrents" type="bool" default="false" />
    <setting label="[B]MegaPeer[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_megapeer" type="bool" default="false" />
    <setting label="[B]NewStudio[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_newstudio" type="bool" default="false" />
    <setting label="[B]Nyaa[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_nyaa" type="bool" default="false" />
    <setting label="[B]RuTor[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_rutor" type="bool" default="false" />
    <setting label="[B]Serialz.tv[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_serialz" type="bool" default="false" />
    <setting label="[B]The Pirate Bay[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_thepiratebay" type="bool" default="false" />
    <setting label="[B]TNTVillage[/B]   [COLOR gray][$ADDON[script.quasar.burst 32112]][/COLOR]" id="use_tntvillage" type="bool" default="false" />
    <setting label="[B]Torrent9[/B]   [COLOR gray][$ADDON[script.quasar.burst 32113]][/COLOR]" id="use_torrent9" type="bool" default="false" />
    <setting label="[B]TorrentDownloads[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_torrentdownloads" type="bool" default="false" />
    <setting label="[B]TorrentFunk[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_torrentfunk" type="bool" default="false" />
    <setting label="[B]TorrentZ[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_torrentz" type="bool" default="false" />
    <setting label="[B]World Wide Torrents[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_worldwidetorrents" type="bool" default="false" />
    <setting label="[B]YourBitTorrent[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_yourbittorrent" type="bool" default="false" />
    <setting label="[B]Zooqle[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_zooqle" type="bool" default="false" />
  </category>

  <category label="32014">
    <setting label="[B]0day[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114], $ADDON[script.quasar.burst 32115]][/COLOR]" id="use_0day" type="bool" default="false" />
      <setting id="0day_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="0day_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]3d-tracker.ru[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_3dtrackerru" type="bool" default="false" />
      <setting id="3dtrackerru_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="3dtrackerru_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]BaibaKo.TV[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_baibako" type="bool" default="false" />
      <setting id="baibako_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="baibako_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]bitHUmen[/B]   [COLOR gray][$ADDON[script.quasar.burst 32118]][/COLOR]" id="use_bithumen" type="bool" default="false" />
      <setting id="bithumen_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="bithumen_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]BitNova[/B]   [COLOR gray][$ADDON[script.quasar.burst 32126]][/COLOR]" id="use_bitnova" type="bool" default="false" />
      <setting id="bitnova_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="bitnova_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]BlueBird[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_bluebird" type="bool" default="false" />
      <setting id="bluebird_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="bluebird_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]FileList[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111], $ADDON[script.quasar.burst 32117]][/COLOR]" id="use_filelist" type="bool" default="false" />
      <setting id="filelist_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="filelist_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]GimmePeers[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_gimmepeers" type="bool" default="false" />
      <setting id="gimmepeers_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="gimmepeers_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]HD Torrents[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_hd-torrents" type="bool" default="false" />
      <setting id="hd-torrents_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="hd-torrents_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]IPTorrents[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_iptorrents" type="bool" default="false" />
      <setting id="iptorrents_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="iptorrents_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Linkomanija[/B]   [COLOR gray][$ADDON[script.quasar.burst 32127]][/COLOR]" id="use_linkomanija" type="bool" default="false" />
      <setting id="linkomanija_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="linkomanija_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]MVGroup[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_mvgroup" type="bool" default="false" />
      <setting id="mvgroup_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="mvgroup_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]nCore[/B]   [COLOR gray][$ADDON[script.quasar.burst 32118]][/COLOR]" id="use_ncore" type="bool" default="false" />
      <setting id="ncore_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="ncore_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]NNM-Club[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_nnmclub" type="bool" default="false" />
      <setting id="nnmclub_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="nnmclub_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Rustorka[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_rustorka" type="bool" default="false" />
      <setting id="rustorka_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="rustorka_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]RuTracker[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_rutracker" type="bool" default="false" />
      <setting id="rutracker_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="rutracker_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]tfile.me[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_tfile" type="bool" default="false" />
      <setting id="tfile_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="tfile_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]torrent3d.ru[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_torrent3dru" type="bool" default="false" />
      <setting id="torrent3dru_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="torrent3dru_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]TorrentLeech[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_torrentleech" type="bool" default="false" />
      <setting id="torrentleech_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="torrentleech_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]UHDBits[/B]   [COLOR gray][$ADDON[script.quasar.burst 32111]][/COLOR]" id="use_uhdbits" type="bool" default="false" />
      <setting id="uhdbits_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="uhdbits_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]XtremeZone[/B]   [COLOR gray][$ADDON[script.quasar.burst 32117]][/COLOR]" id="use_myxzorg" type="bool" default="false" />
      <setting id="myxzorg_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="myxzorg_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Yggtorrent[/B]   [COLOR gray][$ADDON[script.quasar.burst 32113]][/COLOR]" id="use_yggtorrent" type="bool" default="false" />
      <setting id="yggtorrent_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="yggtorrent_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Zamunda[/B]   [COLOR gray][$ADDON[script.quasar.burst 32116]][/COLOR]" id="use_zamunda" type="bool" default="false" />
      <setting id="zamunda_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="zamunda_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Zelka[/B]   [COLOR gray][$ADDON[script.quasar.burst 32116]][/COLOR]" id="use_zelka" type="bool" default="false" />
      <setting id="zelka_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="zelka_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Гуртом[/B]   [COLOR gray][$ADDON[script.quasar.burst 32115]][/COLOR]" id="use_toloka" type="bool" default="false" />
      <setting id="toloka_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="toloka_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
    <setting label="[B]Кинозал[/B]   [COLOR gray][$ADDON[script.quasar.burst 32114]][/COLOR]" id="use_kinozal" type="bool" default="false" />
      <setting id="kinozal_username" label="32015" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="kinozal_password" label="32016" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
  </category>

  <!-- Resolution -->
  <category label="32002">
    <setting label="[B]4K/2160p[/B]" id="filter_4k" type="bool" default="true" />
    <setting label="[B]2K/1440p[/B]" id="filter_2k" type="bool" default="true" />
    <setting label="[B]1080p[/B]" id="filter_1080p" type="bool" default="true" />
    <setting label="[B]720p[/B]" id="filter_720p" type="bool" default="true" />
    <setting label="[B]480p[/B]" id="filter_480p" type="bool" default="true" />
    <setting label="[B]240p[/B]" id="filter_240p" type="bool" default="false" />
  </category>

  <!-- Release type -->
  <category label="32003">
    <setting label="[B]BRRip/BDRip/Bluray[/B]" id="filter_brrip" type="bool" default="true" />
    <setting label="[B]WebDL/WebRip[/B]" id="filter_webdl" type="bool" default="true" />
    <setting label="[B]HDRip[/B]" id="filter_hdrip" type="bool" default="true" />
    <setting label="[B]HDTV[/B]" id="filter_hdtv" type="bool" default="true" />
    <setting label="[B]DVDRip[/B]" id="filter_dvd" type="bool" default="true" />
    <setting label="[B]DVDScr[/B]" id="filter_dvdscr" type="bool" default="true" />
    <setting label="[B]Screener/SCR[/B]" id="filter_screener" type="bool" default="true" />
    <setting label="[B]TVRip/SATRip[/B]" id="filter_tvrip" type="bool" default="true" />
    <setting label="[B]IPTVRip[/B]" id="filter_iptvrip" type="bool" default="true" />
    <setting label="[B]3D[/B]" id="filter_3d" type="bool" default="false" />
    <setting label="[B]TeleSync/TS/TC[/B]" id="filter_telesync" type="bool" default="false" />
    <setting label="[B]Cam/HDCam[/B]" id="filter_cam" type="bool" default="false" />
    <setting label="[B]VHSRip[/B]" id="filter_vhsrip" type="bool" default="false" />
    <setting label="[B]Trailer[/B]" id="filter_trailer" type="bool" default="false" />
    <setting label="[B]Workprint[/B]" id="filter_workprint" type="bool" default="false" />
  </category>

  <!-- Advanced -->
  <category label="32004">
    <setting label="32035" id="separate_sizes" type="bool" default="false" />
    <setting label="32006" type="lsep" subsetting="true" visible="eq(-1,true)" />
    <setting label="32033" id="min_size_movies" type="slider" option="float" range="0,0.25,100" default="0" subsetting="true" visible="eq(-2,true)" />
    <setting label="32034" id="max_size_movies" type="slider" option="float" range="1,1,200" default="100" subsetting="true" visible="eq(-3,true)" />
    <setting label="32008" type="lsep" subsetting="true" visible="eq(-4,true)" />
    <setting label="32033" id="min_size_seasons" type="slider" option="float" range="0,0.25,100" default="0" subsetting="true" visible="eq(-5,true)" />
    <setting label="32034" id="max_size_seasons" type="slider" option="float" range="1,1,200" default="100" subsetting="true" visible="eq(-6,true)" />
    <setting label="32009" type="lsep" subsetting="true" visible="eq(-7,true)" />
    <setting label="32033" id="min_size_episodes" type="slider" option="float" range="0,0.25,100" default="0" subsetting="true" visible="eq(-8,true)" />
    <setting label="32034" id="max_size_episodes" type="slider" option="float" range="1,1,200" default="100" subsetting="true" visible="eq(-9,true)" />
    <setting label="32036" id="additional_filters" type="bool" default="false" />
    <setting label="32037" id="filtering_help" type="text" enable="false" subsetting="true" visible="eq(-1,true)" />
    <setting label="32038" id="accept" type="text" default="" subsetting="true" visible="eq(-2,true)" />
    <setting label="32039" id="block" type="text" default="" subsetting="true" visible="eq(-3,true)" />
    <setting label="32017" id="require" type="text" default="" subsetting="true" visible="eq(-4,true)" />
    <setting label="32018" id="kodi_language" type="bool" default="false" />
    <setting label="32050" id="language_exceptions" type="text" subsetting="true" visible="eq(-1,true)" />
    <setting label="32051" id="language_help" type="text" enable="false" subsetting="true" visible="eq(-2,true)" />
  </category>
</settings>
