[Unit]
Description=qBittorrent
After=multi-user.target network-online.target
Wants=multi-user.target network-online.target

[Service]
SyslogIdentifier=%N
ExecStart=/bin/sh /storage/.kodi/addons/service.qbittorrent/bin/qbittorrent-nox.ctl
Restart=always

[Install]
WantedBy=multi-user.target
