[Unit]
Description=Transmission
After=kodi.service multi-user.target network-online.target
Requires=multi-user.target network-online.target

[Service]
Type=forking
ExecStart=/bin/sh /storage/.kodi/addons/service.transmission/bin/transmission.start
Restart=on-failure

[Install]
WantedBy=multi-user.target
