[Unit]
Description=Deluge service
Documentation=http://deluge-torrent.org/
After=kodi.service
Wants=kodi.service

[Service]
Type=oneshot
ExecStart=/bin/sh /storage/.kodi/addons/service.deluge/bin/deluge.start
ExecStop=/bin/sh /storage/.kodi/addons/service.deluge/bin/deluge.stop
RemainAfterExit=yes

[Install]
WantedBy=kodi.service
