[Unit]
Description=Deluge web user interface
Documentation=http://deluge-torrent.org/
After=kodi.service
Wants=kodi.service

[Service]
ExecStart=/bin/sh /storage/.kodi/addons/service.deluge/bin/deluge-web.start

[Install]
WantedBy=kodi.service
