[Unit]
Description=Deluge daemon
Documentation=http://deluge-torrent.org/
After=kodi.service
Wants=kodi.service

[Service]
ExecStart=/bin/sh /storage/.kodi/addons/service.deluge/bin/deluged.start

[Install]
WantedBy=kodi.service
