<settings>
  <category label="General">
    <setting id="save_location" type="folder"  label="Select a download location." default=""/>
    <setting id="use_thumb" type="bool" label="Use Thumbnails as Fanart" default="false" />
    <setting id="logo-folderPath" type="folder"  label="Select Directory for logo." default=""/>
    <setting id="add_playlist" type="bool" label="Add items with multiple links as play lists" default="false"/>
    <setting id="ask_playlist_items" type="bool" label="Ask playlist items to choose from dialog" default="false" />
    <setting id="debug" type="bool" label="Enable Add-on Debugging" default="false"/>
    <setting id="1080pquality" label="Play 1080p video ON demand if available (Not live)" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Do Not show items under channel name" type="bool" default="false"/>
  </category>
  <category label="Adicionar lista">
	<setting type="lsep" label="Habiltar para ter acesso as suas lista inseridas!"/>	
	<setting id="sourcefile" type="bool" label="Ativar as listas inseridas" default="false"/>  
    <setting id="choose_source" type="enum" values="interno|externo" label="Escolha o tipo da fonte:" default="" visible="!eq(-1,false)"/>
    <setting id="new_file_source" type="file" source="files" label="Escolher arquivo" default="" visible="eq(-1,0)+!eq(-2,false)"/>
    <setting id="new_url_source" type="text" label="Adicionar link" default="" visible="eq(-2,1)+!eq(-3,false)"/>
    <setting type="action" label="Adicionar Nome" option="close" visible="!eq(-2,false)+!eq(-4,false)" action="RunPlugin(plugin://plugin.video.desporto.theanonymous/?mode=7)" />
	<setting type="lsep" label="Apenas para apagar ficheiro quando estiver contéudo antigo já adicionado!"/>
	<setting type="action" label="Clicar aqui para apagar ficheiro settings do addon!" option="close" visible="!eq(-2,false)+!eq(-6,false)" action="RunPlugin(plugin://plugin.video.desporto.theanonymous/?mode=26)"/>			
    <setting type="lsep" label="[COLOR red]Apenas para apagar ficheiros quando o addon estiver a dar erro.[/COLOR]"/>	
	<setting type="action" label="Clicar aqui para apagar ficheiro da sua lista extra!" option="close" action="RunPlugin(plugin://plugin.video.desporto.theanonymous/?mode=28)"/> 	
  </category> 
</settings>